janymq-core/src/main/resources/META-INF/janymq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.mzhong.cn/schema/janymq"
            targetNamespace="http://www.mzhong.cn/schema/janymq">

    <xsd:annotation>
        <xsd:documentation><![CDATA[ JSimpleMQ 配置文件 ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="redisProviderType">
        <xsd:attribute name="host" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis Host ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:int">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis port ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="password" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis password ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="database" type="xsd:int">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis 数据库 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:int">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis 超时时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="jedisPoolConfig-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis jedisPoolConfig ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="jedisPool-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis jedisPool，有此选项时以上配置无效 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="connectionFactory-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis connectionFactory，有此选项时以上配置无效 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="rootPath" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ zookeeper根节点名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="zookeeperProviderType">
        <xsd:attribute name="connectString" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ zookeeper连接字符串 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="rootPath" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ zookeeper根节点名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="jdbcProviderType">
        <xsd:attribute name="dataSource-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 数据源引用 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="table" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 表名 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="anyProviderType">
        <xsd:attribute name="ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 自定义Provider引用 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="lineConfig">
        <xsd:attribute name="idleInterval" type="xsd:long">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 空闲时休息时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sleepInterval" type="xsd:long">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 完成一次消息处理后休息时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!--环线配置项-->
    <xsd:complexType name="looplineConfigType">
        <xsd:complexContent>
            <xsd:extension base="lineConfig"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!--流水线配置项-->
    <xsd:complexType name="piplelineConfigType">
        <xsd:complexContent>
            <xsd:extension base="lineConfig"/>
        </xsd:complexContent>
    </xsd:complexType>

    <!--应用程序配置项和应用程序-->
    <xsd:complexType name="applicationType">
        <xsd:sequence>
            <xsd:choice minOccurs="1">
                <xsd:element ref="provider-any"/>
                <xsd:element ref="provider-redis"/>
                <xsd:element ref="provider-zookeeper"/>
                <xsd:element ref="provider-jdbc"/>
            </xsd:choice>
            <xsd:element ref="conf-pipleline" minOccurs="0"/>
            <xsd:element ref="conf-loopline" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="basePackage" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 基本包路径，支持通配符* ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!--节点-->
    <xsd:element name="application" type="applicationType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ JSimpleMQ应用程序配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="provider-redis" type="redisProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Redis配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="provider-zookeeper" type="zookeeperProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Zookeeper配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="provider-jdbc" type="jdbcProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 数据库配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="provider-any" type="anyProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 自定义Provider ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="conf-pipleline" type="piplelineConfigType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 流水线配置项 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="conf-loopline" type="looplineConfigType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 环线配置项 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>