janytask-core/src/main/resources/META-INF/janytask-provider-redis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.mzhong.cn/schema/janytask"
            targetNamespace="http://www.mzhong.cn/schema/janytask">

    <xsd:complexType name="redisProviderType">
        <xsd:attribute name="host" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis Host ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis port ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="password" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis password ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="database" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis 数据库 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis 超时时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="jedisPoolConfig-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis jedisPoolConfig ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="jedisPool-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis jedisPool，有此选项时以上配置无效 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="connectionFactory-ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ redis connectionFactory，有此选项时以上配置无效 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="rootPath" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ zookeeper根节点名称 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="provider-jdbc" type="jdbcProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 数据库配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>