janytask-core/src/main/resources/META-INF/janytask-provider.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.mzhong.cn/schema/janytask"
            targetNamespace="http://www.mzhong.cn/schema/janytask">

    <xsd:complexType name="providerType" abstract="true">
        <xsd:attribute name="package" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 扫描的包路径，多个用逗号隔开，支持通配符*、** ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cron" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 时间表达式，规定此提供商的运行时间 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="zone" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 时间表达式时区，默认为当前操作系统时区 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>