janytask-core/src/main/resources/META-INF/janytask-provider-jdbc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.mzhong.cn/schema/janytask"
            targetNamespace="http://www.mzhong.cn/schema/janytask">

    <xsd:include schemaLocation="janytask-provider.xsd"/>

    <xsd:complexType name="jdbcProviderType">
        <xsd:complexContent>
            <xsd:extension base="providerType">
                <xsd:attribute name="dataSource-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 数据源引用 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="table" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ 表名 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="provider-jdbc" type="jdbcProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 数据库配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>