janytask-core/src/main/resources/META-INF/janytask-provider-zookeeper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.mzhong.cn/schema/janytask"
            targetNamespace="http://www.mzhong.cn/schema/janytask">

    <xsd:include schemaLocation="janytask-provider.xsd"/>

    <xsd:complexType name="zookeeperProviderType">
        <xsd:complexContent>
            <xsd:extension base="providerType">
                <xsd:attribute name="connectString" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ zookeeper连接字符串 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="rootPath" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[ zookeeper根节点名称 ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="provider-zookeeper" type="zookeeperProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Zookeeper配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>