janytask-core/src/main/resources/META-INF/janytask.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.mzhong.cn/schema/janytask"
            targetNamespace="http://www.mzhong.cn/schema/janytask">

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Janytask Schema ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:include schemaLocation="janytask-provider-redis.xsd"/>
    <xsd:include schemaLocation="janytask-provider-zookeeper.xsd"/>
    <xsd:include schemaLocation="janytask-provider-jdbc.xsd"/>

    <xsd:complexType name="anyProviderType">
        <xsd:attribute name="ref" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 自定义Provider引用 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="queueConfig">
        <xsd:attribute name="cron" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 计划任务时间表达式 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="zone" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 计划任务时间时区 ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!--应用程序配置项和应用程序-->
    <xsd:complexType name="applicationType">
        <xsd:sequence>
            <xsd:choice minOccurs="1">
                <xsd:element ref="provider-any"/>
                <xsd:element ref="provider-redis"/>
                <xsd:element ref="provider-zookeeper"/>
                <xsd:element ref="provider-jdbc"/>
            </xsd:choice>
            <xsd:element ref="conf-queue" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="basePackage" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ 基本包路径，支持通配符* ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!--节点-->
    <xsd:element name="application" type="applicationType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ JSimpleMQ应用程序配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="provider-any" type="anyProviderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 自定义Provider ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="conf-queue" type="queueConfig">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 队列配置项 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>